.TodoApp {
    margin: 0 auto;
    background-color: #90C3D4;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    width: 99vw;
    height: 98vh;
}